html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'cera';
}
@font-face {
    font-family: 'cera';
    src: url('Cera\ Pro\ Black.otf');
}
.header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content:center;
    text-align: center;
    align-content: center;
    flex-direction: column;

}


.content{
    height: 90%;
    width: 100%;
    background-color:white;
}

.full{
   
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content:center;
    text-align: center;
    align-content: center;
    flex-direction: row;
}

.fullBody{
   
    height: 100%;
    width: 100%; 
  
}

.popupContainer{
    height: 10%;
    width: 100%; 
    display: flex;
    justify-content:center;
    text-align: center;
    align-content: center;
}

.mainTable{
    height: 70%;
    width: 100%; 
      display: flex;
    justify-content: center;
    align-content: center;
    
}

.col1{
    height: 10%;
    width: 25%; 
}
.col2{
    height: 10%;
    width: 25%; 
}
.col3{
    height: 10%;
    width: 25%; 
}
.col4{
    height: 10%;
    width: 25%; 
}

.statusMsg{
    height: 10%;
    width: 100%;
    color:  #145858;
    font-size: 20px;
    display: flex;
    justify-content:center;
    text-align: center;
    align-content: center;
    flex-direction: column;
   
    
}


.title{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content:center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    font-size: 40px;
  
}



.mainContent{
    height: 100%;
    width: 100%;
}

.overflowTest {
    background: #ff3c3c; 
    color: white;
    padding: 15px;
    width: 67%;
    height:50%;
    overflow: scroll;
    border: 1px solid #ccc;
  }

   
  table{
      display: flex;
      justify-content: center;
      align-content: center;

  }

  thead{
    position: sticky;
  }

  fieldset{
      border-color: black;
      height: 40%;
      width: 80%;
    
  }

  .field{
    display: flex;
    justify-content: center;
  }

  td{
   
    padding: 10px 70px;
   
  }

  .col1{
      background-color: #145858;
      font-weight: bold;
      font-size: 20px;
      color: white;
      border:2px solid #145858;
      border-radius: 5px;
  }
  tr{
    background-color: #d4d4d4d5;
    border:2px solid #145858;
    border-radius: 5px;
    color:#082424;
    
   
  }
  * {
    box-sizing: border-box;
  }
  .openBtn {
    display: flex;
    justify-content: left;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    font-family: 'cera';
    font-size: 18px;
    background-color: #cc0000;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px 10px ;
  }
.editIcon{
  color: #0b373f;
  font-size: 27px;
  margin-right: 10px;
  cursor: pointer;
}

.deleteBtn{
  color: #cc0000;
  font-size: 27px;
  cursor: pointer;
}
  .editBtn {
    border: none;
    border-radius: 5px;
    font-family: 'cera';
    font-size: 15px;
    background-color: #cc0000;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    margin: 10px 10px ;
  }

  .openButton:hover {
   background-color: #cc0000af;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-28%, 17%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    font-family: 'cera';
    background-color: #145858;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 1;
  }
  .formContainer .cancel {
    background-color: #cc0000;
    font-family: 'cera';
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }


  label{
    float: left;
  }


  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #cc0000;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }